.help {
    padding: 90px 0;
    background-color: #F2F0F1;
}

.help__container {
    max-width: 1000px;
    margin: 0 auto 0 155px;
}

.help__title {
    text-align: center;
    color: #ff8a00;
    margin-bottom: 127px;
}

.item__text:not(:last-child) {
    margin-bottom: 30px;
}

.item__text_bold {
    font-weight: 500;
}

.item__title {
    /* font-size: 30px;
    font-weight: 400; */
    color: #282626;
    line-height: 80px;
    margin-bottom: 30px;
}

.item__title_second {
    margin-bottom: 30px;
}

.item__title:before {
    position: absolute;
    left: 8px;
    content: counter(my-counter); 
    counter-increment: my-counter;
    font-family: "Comfortaa";
    font-size: 50px;
    font-weight: 400;
    color: #ff8a00;
    line-height: 80px;
    border-radius: 50%;
    background-color: #ffffff;
    width: 80px;
    height: 80px;
    display:inline-flex;
    align-items:center;
    justify-content: center;
}

.help__list {
    list-style-type: none; 
    counter-reset: my-counter;
    margin-bottom: 50px;
}

.help__button {
    display: block;
    margin: 0 auto;
}

.help__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.help__content {
    max-width: 450px;
}

.first {
    position: relative;
    /* max-width: 450px; */
    padding-left: 100px;
    margin-bottom: 50px;
}

.help__gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    'rabbit rabbit dog_2 dog_2 dog_2 dog_2'
    ' dog_1 dog_1 dog_2 dog_2 dog_2 dog_2';
    gap: 20px;
    align-items: stretch;
}

.help__image--01 {
    grid-area: rabbit;
}

.help__image--02 {
    grid-area: dog_2;
}

.help__image--03 {
    grid-area: dog_1;
}

.second {
    position: relative;
    /* max-width: 643px; */
    /* padding-left: 100px; */
    margin-bottom: 50px;
}

.item__title_second {
    padding-left: 100px;
}

.help__row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.help__figure {
    flex: 0 1 50%;
}

.second__text {
    flex: 0 1 50%;
}

.third {
    position: relative;
    /* max-width: 540px; */
    padding-left: 100px;
}

.guardian__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.guardian__galery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'guardian-01 guardian-02'
    'guardian-01 guardian-03';
    gap: 20px;
    align-items: stretch;
    min-width: 580px;
}

.guardian-01 {
    grid-area: guardian-01;
}

.guardian-02 {
    grid-area: guardian-02;
}

.guardian-03 {
    grid-area: guardian-03;
}

